body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }


/* Color Theme Swatches in Hex */
.Corcodus-1-hex { color: #0433BF; }
.Corcodus-2-hex { color: #0442BF; }
.Corcodus-3-hex { color: #0455BF; }
.Corcodus-4-hex { color: #033E8C; }
.Corcodus-5-hex { color: #260101; }

/* Color Theme Swatches in RGBA */
.Corcodus-1-rgba { color: rgba(3, 50, 191, 1); }
.Corcodus-2-rgba { color: rgba(3, 66, 191, 1); }
.Corcodus-3-rgba { color: rgba(3, 85, 191, 1); }
.Corcodus-4-rgba { color: rgba(2, 62, 140, 1); }
.Corcodus-5-rgba { color: rgba(38, 0, 0, 1); }

/* Color Theme Swatches in HSLA */
.Corcodus-1-hsla { color: hsla(225, 96, 38, 1); }
.Corcodus-2-hsla { color: hsla(219, 96, 38, 1); }
.Corcodus-3-hsla { color: hsla(213, 96, 38, 1); }
.Corcodus-4-hsla { color: hsla(213, 96, 28, 1); }
.Corcodus-5-hsla { color: hsla(0, 96, 7, 1); }